.main-content{
          display: flex;
         
}
.textItems{
          color: rgb(216, 212, 212);
          width: 700px;
          margin-top: 300px;
          margin-left: 150px;
}
.textItems h1{
         font-size: 80px; 
         margin-bottom: -10px;  
}
.textItems p{
          font-size: 18px;
}
.row{
          margin: 120px;
}
.box img{
          width: 360px;
          height: 600px;
}
